.projects-container {
  height: 100%;
  width: 100%;
  background-color: #f1effb;
  padding: 3%;
  margin-bottom: 20vh;
}
.project-video {
  width: 100%;
  height: auto;
}
.projects-description{
  font-size: 1.3em;
}
div.project-card.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.text-container.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.text-container.card-body {
  padding: 1vh;
}
p.project-description.card-text {
  font-size: 1.1em;
  padding: 0;
}
.video-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  background: #6a11cb;
  animation: AnimationName 15s ease infinite;
  margin-bottom: 2vh;
  padding: 1vh;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.project-image {
  width: 100%;
  height: auto;
}
.project-description {
  margin-top: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: 600;
}

.scroll-down-icon {
  font-size: 1.5em;
  color: blueviolet;
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
