.home-main-container {
  background-color: blueviolet;
  width: 100%;
  height: 80vh;
}

.home-section.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.home-button {
  font-size: 1.3rem;
  color: aqua;
}

div.home-button-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
}

button {
  border: none;
  background-color: transparent;
  color: white;
}

button:hover {
  font-size: 1.2em;
  font-weight: 500;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.border-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 55%;
  border-radius: 50%;
  background-color: #f1effb;;
  border: 10px solid rgb(229, 206, 253);
}


.img {
  width: 80%;
  height: 80%;
  border-radius: 46%;
  filter: drop-shadow( 7px 7px 10px  #f1effb);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out; 
  transform: scale(1.26); 
}

.img:hover {
  transform: scale(1.27);
}

.stack-icons {
  font-size: 2.2em;
}

.stack-icons:hover {
  transform: scale(1.3);
}
.stack-icons-container.col {
  display: flex;
  width: 80%;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  border: 1px solid transparent;
  border-color: rgb(188, 127, 244);
  box-shadow: 0 0 10px rgba(188, 127, 244, 0.5);
  animation: animarBorde 2s infinite;
}
.tooltip-inner {
  font-weight: 600;
  background-color: white !important; 
  color: blueviolet !important; 
}

.tooltip.bs-tooltip-top .tooltip-arrow::before,
.stack-icons-container .tooltip.bs-tooltip-auto[x-placement^="top"] .tooltip-arrow::before {
  border-top-color: white;
}
.stack-icons-container .tooltip.bs-tooltip-bottom .tooltip-arrow::before,
.stack-icons-container .tooltip.bs-tooltip-auto[x-placement^="bottom"] .tooltip-arrow::before {
  border-bottom-color: white;
}

@keyframes animarBorde {
  0%, 100% {
    box-shadow: 0 0 10px rgba(188, 127, 244, 0.5);
  }
  20% {
    box-shadow: 0 0 15px rgba(188, 127, 244, 0.75);
  }
}

@media (max-width: 991px) {
  .home-main-container {
    flex-direction: column;
     height: fit-content;
     padding-bottom: 20vh;
  }
  .home-section.col {
        margin-top: 3vh;
  }
  .image-container {
    height: fit-content;
    flex-direction: column-reverse;
  }
    .img {
      width: 100%; /* Ajustar al 100% del contenedor para que se ajuste mejor */
      transform: scale(1); /* Restablecer la escala para evitar el efecto de "salida" */
    }
    .img:hover {
      transform: scale(1.02);
    }

    .border-image {
    width: 75%; /* Aumentar el porcentaje según necesidad para mejor visualización */
    height: auto; /* Usar auto para mantener la proporción según el ancho */
  }

  
  .home-button {
    font-size: 1em;
  }
  .home-button-container {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  div.stack-icons-container.col {
    align-content: space-around;
    flex-wrap: wrap;
  }
  .stack-icons {
    font-size: 1.5em;
  }

  img.img {
  height:fit-content;
  }
}
