.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  width: 100vw;
  height: 80vh;
  margin-bottom: 10vh;
}

.home-section.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-button {
  font-size: 1.3rem;
  color: aqua;
}

.home-button-container {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}

button {
  border: none;
  background-color: transparent;
  color: white;
}

button:hover {
  font-size: 1.2em;
  font-weight: 500;
}

.img {
  width: 70%;
  height: auto;
}

.stack-icons {
  font-size: 2em;
}

.stack-icons:hover {
  transform: scale(1.1);
}

div.stack-icons-container.col {
  display: flex;
  width: 80%;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  border: 1px solid transparent;
  border-color: rgb(188, 127, 244);
  box-shadow: 0 0 10px rgba(188, 127, 244, 0.5);
  animation: animarBorde 2s infinite;
}

@keyframes animarBorde {
  0%, 100% {
    box-shadow: 0 0 10px rgba(188, 127, 244, 0.5);
  }
  20% {
    box-shadow: 0 0 15px rgba(188, 127, 244, 0.75);
  }
}

@media (max-width: 991px) {
  .home-main-container {
    flex-direction: column;
  }
  .home-section.col {
        margin-top: 3vh;
  }
  .image-container {
    height: fit-content;
    flex-direction: column-reverse;
  }
  .home-button {
    font-size: 1em;
  }
  .home-button-container {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  div.stack-icons-container.col {
    align-content: space-around;
    flex-wrap: wrap;
  }
  .stack-icons {
    font-size: 1.5em;
  }
  .img {
    width: 50%;
  }
}
