.div.nav.navbar-nav {
  width: 100%;
  display: flex;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

}
nav.navbar.navbar-expand-lg {
  width: 100%;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-icon {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #8a2be2;
  transition: color 0.3s ease-in-out;
}

.nav-text {
  display: flex;
  padding: 0.5rem 0rem;
  align-items: center;
  color: blueviolet;
  font-size: 1.2em;
}

.nav-text:hover {
  font-weight: 500;
  text-decoration: underline;
}

a.name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.9em;
  color: blueviolet;
  margin-bottom: 0;
  width: auto;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

a.name:hover {
  font-weight: 600;
}

@media (max-width: 991px) {
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: 1;
  }

  .navbar {
    width: 100%;
    height: auto;
  }

  a.name {

    font-size: 1.7em;
  }

  button.navbar-toggler {
    font-size: 2em;
    border: 0px solid transparent;
    color: #8a2be2;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  button.navbar-toggler:focus {
    font-size: 2em;
    border: none;
    box-shadow: none;
  }
  button.navbar-toggler:hover {
    font-size: 2em;
  }
}
