.footer-container {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

.footer-text,
.footer-name,
a.footer-icon-link {
  color: blueviolet;
}

.footer-name {
  font-size: 1.2em;
  display: block;
  text-align: center;
}

.footer-name:hover {
  font-weight: 600;
}

a.footer-icon-link {
  margin: 0 10px;
  font-size: 1.8em;
}

a.footer-icon-link:hover {
  font-size: 1.9em;
}

@media (min-width: 768px) {
  .footer-text {
    font-size: 2em;
  }
  .footer-name {
    font-size: 1.5em;
    text-align: left;
  }
}
