.footer-container {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2vh;
  background-color: white;

}

.footer-name {
  color: blueviolet;
  font-size: 1.4em;
}
a.footer-icon-link {
  color: blueviolet;
  margin: 0 10px;
  font-size: 1.5em;
}

.footer-name:hover{
  font-size: 1.5em;
  font-weight: 700;
}
a.footer-icon-link:hover {
  font-size: 1.8em;
  font-weight: 700;
}

@media (min-width: 768px) {
  .footer-container{
    height: fit-content;
  }
  .footer-text {
    font-size: 2em;
  }
  .footer-name {
    font-size: 1.5em;
    text-align: left;
  }
}
