.cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 75vh;
}

.cv-image {
  width: 22vw;
  transition: width 0.3s ease; 
}

.cv-button {
  font-size: 1em;
  color: blueviolet;
}
.cv-icon {
  color:blueviolet
}

@media (max-width: 768px) {
  .cv-image {
    width: 60vw;
  }

  .cv-image:hover {
    width: 65vw;
  }

  .cv-container {
    height: auto; 
  }
}

